.side-bar
  .side-bar__header
    .sidebar__header__top-items
      .sidebar__header__top-items__name
        sss
      .sidebar__header__top-items__icons
        =link_to "#",  class: "Contents__btn Contents__btn--far" do
          = icon('far', 'edit', class: "Contents__btn--edit")
        =link_to "#", class: "Contents__btn Contents__btn--icons" do
          = icon('fas', 'cog', class: "Contents__btn--cog")
          
  .side-bar__group
    .side-bar__group__list
      .side-bar__group__name
        techcamp
      .side-bar__group__message
        まだメッセージがありません